@import url('./tanker.css');
@import url('./bespoke-serif.css');
@import url('./bebas-neue.css');
@import url('./tailwiind.css');
@import url('./lenis.css');

:root {
    --bg: #f0f0f0;
    --text: #222;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--bg);
    background: var(--text);
}

::selection {
    color: var(--bg);
    background: var(--text);
}