@import url('./tanker.css');
@import url('./bespoke-serif.css');
@import url('./bebas-neue.css');
@import url('./tailwiind.css');

:root {
    --bg: #f0f0f0;
    --text: #222;
}

body {
    background-color: var(--bg);
    color: var(--text);
}